.blogCard {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 1.6rem;
  }
  .blogCardCont {
    position: relative;
    margin-bottom: 5px;
    min-height: 100px;
  }
  .blogCardCont p {
    font-size: 12px;
    overflow: hidden;
    margin: 0;
  }
  .blogCardTxt {
    margin-right: 110px;
  }
  .blogCardTxt p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .blogCardTitle {
    margin-bottom: 5px;
    overflow: hidden;
    -webkit-line-clamp: 2 !important;
  }
  .blogCardTitle a {
    font-size: 17px;
    line-height: 1.4;
    color: #3d3f44;
    font-weight: bold;
    text-decoration: none;
  }
  .blogCardTitle a:hover {
    text-decoration: underline;
  }
  .blogCardImg {
    position: absolute;
    top: 0;
    right: 0;
  }
  .blogCardImg__wrap {
    float: right;
    width: 15%;
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  .blogCardImg__wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    max-height: 100%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  .blogCardFooter {
    font-size: 12px;
  }
  .blogCardFooter a {
    color: #9aa5ab;
  }
  .blogCardFooter a img {
    margin-right: 5px;
  }
  .blogCardTitle a i,
  .blog article .blogCardFooter a i {
    display: none;
  }
  .blogCard.blogCard--noimg .blogCardCont {
    min-height: auto;
  }
  blogCard.blogCard--noimg .blogCardTxt {
    margin-right: 0;
  }